<div class="container">
    <div class="row justify-content-md-center">
        <form action="{{ path('security_login') }}" method="post">
            <div class="form-group">
                <input type="text" placeholder="Adresse e-mail" name="_username" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Mot de passe" name="_password" required>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-info">Connexion</button>
            </div>
        </form>
    </div>
</div>