{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h2>Insciption</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}