

<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('my_space') }}">Mes produits</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('new_produit') }}">Ajouter un produit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Modifier un produit</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Supprimer un produit</a>
    </li>
</ul>