<ul class="nav flex-column">
    {#Pour les ADMIN et SUPER ADMIN#}
    <li class="nav-item">
        <a class="btn btn-info btn-lg btn-block" type="button" role="button" href="{{ path('produit_index') }}">Mes produits</a>
    </li>
    {#Pour les SUPER ADMIN#}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="nav-item">
        <a type="button" role="button" class="btn btn-info btn-lg btn-block" href="{{ path('produit_all') }}">Liste de tous les produits</a>
    </li>
    <li class="nav-item">
        <a type="button" role="button" class="btn btn-info btn-lg btn-block" href="{{ path('user_index') }}">Liste des utilisateurs</a>
    </li>
    {% endif %}
</ul>