<ul class="nav flex-column">
    {#Pour les ADMIN et SUPER ADMIN#}
    <li class="nav-item">
        <a class="nav-link active" href="{{ path('produit_index') }}">Mes produits</a>
        {#<a class="nav-link active" href="{{ path('produit_edit', {'id': app.user.id}) }}">Mes produits</a>#}
    </li>
    {#Pour les SUPER ADMIN#}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('produit_all') }}">Liste de tous les produits</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Liste des utilisateurs</a>
    </li>
    {% endif %}
</ul>