{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/produit/new.css') }}">
{% endblock %}

{% block title %}Nouveau Produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron example-wrapper">
            <h1 class="display-4">Créer un nouveau Produit.</h1>
            <hr class="my-4">
            <p class="lead">
                {{ include('produit/_form.html.twig') }}
            </p>
            <hr class="my-4">
            <a class="btn btn-outline-info" role="button" type="button" href="{{ path('produit_index') }}">Retour à la liste</a>
        </div>
    </div>
{% endblock %}
