{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('assets/css/cards/showCards.css') }}">{% endblock %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <div class="jumbotron example-wrapper">
        <h1 class="display-4">Liste des produits</h1>
        <p class="lead"><code><a>Devenir au moins "admin" pour accéder à l'un de produit!!</a></code></p>
        <hr class="my-4">
        <div class="container liste-cards">
            <div class="row">
                {% for item in produit %}
                    {#CARTE PRODUIT#}
                    {{ include('produit/components/produit_min.html.twig', {'produit': item}) }}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
